# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.pytest_cache/
migrations/

# IDE / editor settings
.vscode/
.idea/
*.swp

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache
*.cache
